//
// Fonts
//
$font: "Helvetica Neue", Helvetica, sans-serif;

$line-height: 1.6;

//
// Colors
//
$color-alpha: #ee9f00;

$color-black: #0a0a0a;
$color-grey: #aeaeae;
$color-lightgrey: #f5f5f5;
$color-white: #fff;

//
// Media Queries
//
$mq-xs: 20em;
$mq-sm: 32em;
$mq-md: 54em;
$mq-lg: 64em;
$mq-xl: 76.5em;
$mq-xxl: 114em;
