//
// Section Padding
//
%section-padding {
  padding: 2em 5%;

  @media (min-width: $mq-md) {
    padding: 4em 10%;
  }
}

//
// Flex Center
//
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//
// Letter Spacing
//
%letter-spacing {
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
